.chat-first{
    display: flex;
    flex-direction: row;
  
}
.chat-first-items{
background-color:white;
width: 10%;
height: 100vh;
}
.chat-profile-img{

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(21,30,63,255);
}

.chat-second-items
{   
    width: 100%;
    height: 100vh;
    margin-left: 0%;
    background-color: rgba(21,30,63,255);
    overflow-x: hidden;
    overflow-y: auto;
} 
.chat-second-change{
    width: 100%;
    height: 100vh;
    background-color: rgba(21,30,63,255);
    overflow-x: hidden;
    overflow-y: auto;
}
.search-user{
    margin-left: 2%;
    width:70%;
    height: 5%;
    border-radius: 10px;
}
.messages {
    display: flex;
    flex-direction: row;
    padding: 0.4%;

}

.messages:hover {
    background-color: cornflowerblue;
}

.user-name {
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
}

.user-message {
    font-weight: bold;
}

.user-prof {
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    border: 3px solid rgba(21, 30, 63, 255);

}
.chat-view
{
    
    width: 100%;
    height: 100vh;
    background-image:url('../Asset/img/dark-blue-liquid-stain-pattern-n65b25baujpa1sv0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0%;
}
.chat-view-change{
  
    width: 100%;
    height: 100vh;
    background-image:url('../Asset/img/dark-blue-liquid-stain-pattern-n65b25baujpa1sv0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.arrow-class{
    position: absolute;
    top: 0%;
    visibility:hidden;
}
.arrow{
    width: 2rem;
    height: 2rem;
}
@media only screen and (max-width:600px) {
   .chat-view{
      width: 0%;
   }
   .chat-second-change{
       visibility: hidden;
       width: 0%;
   }
   .arrow-class{
       visibility: visible;
   }
}
