.topbar{
    background-color: rgba(21,30,63,255);
    margin-left: 17%;
    margin-right: 150%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position:fixed;
}
.top-bar-profile
{
    display:flex;
    flex-direction: row;
    align-items: center;
   
}
.topbar-profile-name
{
    color: white;
}
.topbar-profile
{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(21,30,63,255);
    
}