.messages {
    display: flex;
    flex-direction: row;

}

.messages:hover {
    background-color: cornflowerblue;
}

.user-name {
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
}

.user-message {
    font-weight: bold;
}

.user-prof {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(21, 30, 63, 255);

}