<<<<<<< HEAD
.nav-css {
=======
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Recursive:wght@300&display=swap');

.nav-css{
>>>>>>> f273282ee6c75f8e4ef9f05ab16c35e55cec95cc
	display: flex;
	font-family: 'Recursive', sans-serif;
	flex-direction: row;
	flex-wrap: nowrap;
<<<<<<< HEAD
	justify-content: center;
=======
	justify-content:center;
>>>>>>> f273282ee6c75f8e4ef9f05ab16c35e55cec95cc
	background-color: transparent;
	z-index: 10;
	width: 100vw;
	height: 3.5rem;
	font-size: 1rem;
<<<<<<< HEAD
}

.log {
	background-color: #6666ff;
	border-radius: 2vw;
	color: white;
	height: 3.5vw;
	width: 10vw;
	font-size: 2.2vw;
	text-align: center;
	padding: 0.3em 0.3em 0.3em 0.3em;
	margin: 0.3em 0.3em 0.3em 0.3em;
}

.log:hover {
	background-color: #8c8cfc;
	color: white;
	cursor: pointer;
}
=======

}

.log{
	background-color: #476b6b;
	border-radius: 5px;
	color: white;
	height: 2rem;
	padding: 5px;

}

.log:hover{
	background-color: #618685;
	color: white;
	cursor: pointer;
}
>>>>>>> f273282ee6c75f8e4ef9f05ab16c35e55cec95cc
