.post {
    background-color: whitesmoke;
}

.post hr {
    margin: 1rem;
}

.post-per {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;

}

.posters-elements {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(21, 30, 63, 255);
    margin: 0% 0% 2% 35%;
    padding: 1% 2% 2% 2%;
    background-color: white;
    border: 3px solid rgba(21, 30, 63, 0);
    box-shadow: 0.3rem 0.3rem rgba(121, 121, 121, 0.65);
    border: none;
    border-radius: 30px;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-user-profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid rgba(21, 30, 63, 255);
    object-fit: cover;
    padding: 1% 1% 1% 1%;
}

.post-pic {

    width: 100%;
    height: 20rem;
    padding: 1%;
    margin-top: 1rem;
}

.l-post {
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
}

.like-post {
    width: 40px;
    height: 40px;
}

.love-post {
    width: 40px;
    height: 40px;
}

.li-co-sh {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.postLikeCounter {
    text-align: center;
}

.comment-section {
    visibility: hidden;
    width: 0%;
    height: 0%;
}

.comment-change {
    visibility: visible;
    margin-left: 35%;
    margin-bottom: 1%;
}

.comment-text {
    width: 0vw;
    height: 0vh;
    resize: none;
}

.comment-text-change {
    width: 40vw;
    height: 5vh;
    resize: none;
}

.add-com {
    position: fixed;
    left: 75%;
    bottom: 0%;
}

.btn-cmt {
    font-size: 1rem;
    padding: 1%;
    margin: 1%;
    margin-top: 0%;
    background-color: azure;
}

@media screen and (max-width: 800px) {
    .post-per {
        margin-left: 0%;
    }
}