.post {
    display: flex;
    background-color: rgb(1, 1, 100);
    flex-direction: row;
    flex-wrap: wrap;
}

.posters-elements {
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 1.2rem;
    font-size: large;
    color: aqua;
    margin: 23% 0% 5% 17%;
    padding: 1% 2% 2% 2%;
    background-color: rgb(21, 30, 63);
    width: 22rem;
    height: 22rem;
    border: 3px solid rgba(21, 30, 63, 0);
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
    border: none;
    border-radius: 30px;

}

.post-info {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post-user-profile {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid rgba(21, 30, 63, 255);
    object-fit: cover;
}

.post-pic {
    width: 20rem;
    height: 15rem;
}

.l-post {
    display: flex;
    flex-direction: row;
}

.like-post {
    width: 24px;
    height: 24px;
}

.love-post {
    width: 24px;
    height: 24px;
}