.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card{
	width: 320%;
	height: 50vh;
	display: block;
	border: whitesmoke 2% solid;
	border-top:5% tomato solid ;
	border-radius:5%;
	color: black;
	background-color: whitesmoke;
	margin: 15%;
	box-shadow: -4% 4% 6% black;
	background-size:cover ;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10%;
	padding-bottom: 25%;
}

.card:hover{
	cursor: pointer;
	transform: scale(1.05);
}

img{
	width: 100%;
	height: 100%;
}
div h2{
	padding: 10px;
}