/* .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} */


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: visible;

}

<<<<<<< HEAD
.img2 {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background-color: white;
	padding: 6rem 2.6rem 6rem 2.6rem;
}

.img1 {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background-color: white;
	padding: 6rem 2.6rem 6rem 2.6rem;
	margin-bottom: 10%;
}

.img3 {
	display: flex;
	flex-direction: row-reverse;
	width: 100vw;
	height: 100vh;
	background-color: whitesmoke;
	padding: 6rem 2.6rem 6rem 2.6rem;
	margin-top: 10%;
}

.card-img img {
	width: 50vw;
	height: 100vh;
	background-size: cover;
	align-items: flex-start;
=======
.card{
	width: 320%;
	height: 50vh;
	display: block;
	border: whitesmoke 2% solid;
	border-top:5% tomato solid ;
	border-radius:5%;
	color: black;
	background-color: whitesmoke;
	margin: 15%;
	box-shadow: -4% 4% 6% black;
	background-size:cover ;
	background-repeat: no-repeat;
	position: relative;
	z-index: 10%;
	padding-bottom: 25%;
>>>>>>> f273282ee6c75f8e4ef9f05ab16c35e55cec95cc
}

.card-text {

	width: 50vw;
	height: 50vh;

}

.card-text p {
	font-size: 1.4rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0 2.5rem 0 2.5rem;
	text-align: left;
	color: black;
	text-transform: none;
}

.card-text h1 {
	font-family: 'Tapestry', cursive;
	font-size: 3rem;
	color: gray;
}