.curvy-border{
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 5px;
}

.center{
	text-align: center;
}

.b-in{
  border: 2px solid linear-gradient(89deg , #45ff2a,#2bbe43);
  border-radius: 4px;
}

.btn{
  cursor: pointer;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btn {
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #0099FF; /* Blue */
  color: white;
}

.btn-primary{
	border: 2px solid #0AEFDF;
	font-size: 20px;
	border-radius: 12px;
	background-color: #0066FF; /* Blue */
}

.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.cool{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}